<%- layout('layouts/boilerplate') %>

<div class="alert alert-danger col-md-6 offset-3 mt-4" role="alert">
    <h4 class="alert-heading"><%= error.message %></h4>
    <% if(process.env.NODE_ENV !== "production") { %> 
        <p><%= error.stack %></p>   <!-- ONly show stack trace in development -->
    <% } %> 
</div>